:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../../assets/SesionFondo.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-card {
    width: 100%;
    max-width: 400px;
    /* Ancho máximo del formulario */
    margin: 20px;
    /* Margen alrededor del formulario */
    background-color: rgba(85, 80, 80, 0.8);
    /* Fondo blanco semitransparente */
    border-radius: 8px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-actions {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.login-actions button {
    margin-top: 10px;
}

.login-button {
    color: white;
    /* Cambia el color del texto a blanco */
}

.error-message {
    color: red;
    margin-top: 10px;
}