<div class="perfil-container">
    <div class="toolbar">
        <button mat-icon-button (click)="navigateToCatalogo()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="toolbar-title">Perfil del Usuario</span>
    </div>

    <div class="perfil-card">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Información del Usuario</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p><strong>Nombre:</strong> {{ userData.name }}</p>
                <p><strong>Email:</strong> {{ userData.email }}</p>
                <p><strong>Teléfono:</strong> {{ userData.phoneNumber ? userData.phoneNumber : 'No disponible' }}</p>
            </mat-card-content>
        </mat-card>

        <button mat-raised-button color="primary" (click)="navigateToActualizarPerfil()">Actualizar Datos</button>
        <button mat-raised-button color="warn" (click)="deleteAccount()">Eliminar Cuenta</button>
    </div>
</div>