<mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="navigateToCatalogo()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="toolbar-title">Perfil del Usuario</span>
</mat-toolbar>

<div class="perfil-container">
    <h2>Perfil del Usuario</h2>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Información del Usuario</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="user-info">
                <div class="info-item">
                    <mat-icon class="info-icon">account_circle</mat-icon>
                    <div class="info-text">
                        <h4>Nombre:</h4>
                        <p>{{ userData.name }}</p>
                    </div>
                </div>
                <div class="info-item">
                    <mat-icon class="info-icon">email</mat-icon>
                    <div class="info-text">
                        <h4>Email:</h4>
                        <p>{{ userData.email }}</p>
                    </div>
                </div>
                <div class="info-item">
                    <mat-icon class="info-icon">phone</mat-icon>
                    <div class="info-text">
                        <h4>Teléfono:</h4>
                        <p *ngIf="userData.phoneNumber; else noPhone"> {{ userData.phoneNumber }}</p>
                        <ng-template #noPhone>No disponible</ng-template>
                    </div>
                </div>
            </div>
            <form [formGroup]="phoneForm" (ngSubmit)="updatePhoneNumber()" class="phone-form">
                <mat-form-field appearance="fill">
                    <mat-label>Teléfono</mat-label>
                    <input matInput formControlName="phoneNumber" placeholder="Número de teléfono">
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit" [disabled]="phoneForm.invalid">Actualizar Teléfono</button>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent" (click)="navigateToActualizarPerfil()">Actualizar Datos</button>
            <button mat-raised-button color="warn" (click)="deleteAccount()">Eliminar Cuenta</button>
        </mat-card-actions>
    </mat-card>
</div>