<mat-toolbar color="primary" class="toolbar">
    <img src="../../../assets/LogoSinFondo.png" alt="Logo" class="logo">
    <button mat-button color="accent" *ngIf="!isLoggedIn" (click)="navigateToLogin()">Iniciar sesión</button>
    <span class="spacer"></span>
    <button mat-button color="accent" class="ai-button" routerLink="/consumoapi" *ngIf="isLoggedIn">Prueba la inteligencia artificial</button>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="profileMenu" *ngIf="isLoggedIn" class="profile-button">
      <img src="../../../assets/Usuario.png" alt="Profile Picture" class="profile-picture">
    </button>
    <mat-menu #profileMenu="matMenu">
        <button mat-menu-item (click)="navigateToProfile()">Perfil</button>
        <button mat-menu-item (click)="navigateToSettings()">Ajustes</button>
        <button mat-menu-item (click)="logout()">Cerrar sesión</button>
    </mat-menu>
</mat-toolbar>

<mat-card class="catalogo-card">
    <mat-card-header>
        <mat-card-title>Catálogo de Videojuegos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="card-container">
            <!-- Tarjeta 1 -->
            <mat-card class="game-tile">
                <mat-card-header>
                    <mat-card-title>Juego 1</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets/J1.webp" alt="Juego 1" class="card-image">
                <mat-card-content>
                    <p>Descripción del Juego 1</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Acción 1</button>
                    <button mat-button>Acción 2</button>
                </mat-card-actions>
            </mat-card>
            <!-- Puedes agregar más tarjetas aquí -->
        </div>
    </mat-card-content>
</mat-card>