:host {
    display: block;
    padding: 20px;
    background-image: url('../../../assets/Catalogo.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

.juegos-container {
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}

h1,
h2 {
    color: #ffffff;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

p,
ul {
    text-align: justify;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: oblique;
}