<div class="juegos-container">
    <h1>Juego Seleccionado</h1>
    <h2>The House of the Dead</h2>
    <img src="assets/J1.webp" alt="Juego 1"><br>
    <p>Descripcion: <br> The House of the Dead es una franquicia icónica dentro del género de juegos de terror y disparos, reconocida por su intensa acción, su atmósfera espeluznante y su impacto en el género de los shooters sobre rieles.
        <br><br> Clasificado: <br> para mayores de 18 años.
        <br><br> Plataformas:
        <br>
    </p>
    <ul>
        <li>Arcade: La serie comenzó en máquinas arcade.</li>
        <li>Consolas: Ha sido adaptada para varias consolas incluyendo Sega Saturn, Dreamcast, PlayStation, Xbox, Wii, y más.
        </li>
        <li>PC: Disponible en versiones para PC.</li>
        <li>VR y Móviles: También se han lanzado versiones para dispositivos móviles y plataformas de realidad virtual.
        </li>
    </ul>

</div>